

.root {
    background-color: white;
}

.addr-line {
    width: 100%;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    margin:0px auto;
    vertical-align: middle;
}

.unconfigured {
    margin-bottom: 0rem;
    text-align: center;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

